header img
{
    height: 100px;
    object-fit: contain;
    width: 100%;
}
nav
{
    width: 80%;
}
.header
{
    background-color: #ffecf4;
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    align-items: center;
}
.navBar
{
    display: flex;
    justify-content: flex-end;
    column-gap: 13rem;
    font-size: 3.6rem;
    & li
    {
        list-style: none;
    }
    & li a
    {
        text-decoration: none;
    }
}