.section2
{
    background-image: url("../assets/img/quienSoy.jpeg");
    height: 50vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include propiedades-grid(6,3);
}
.texto-encima-quien
{
    @include texto-encima(1/4,4,0,8rem,white,center);
}
.texto-encima-quien-2
{
    @include texto-encima(1/4,4,1rem,4rem,white,left);
}
.textoQuienSoy
{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 1rem;
    margin: 5rem;
}