.section1
{
    background-image: url("../assets/img/inicio.jpeg");
    height: 50vh;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include propiedades-grid(1,3);
}
.texto-encima
{
    @include texto-encima(1,1,0,6rem,white,center);
}
.carousel-item img
{
    width:70%;
    height: 10%;
    border-radius: 15px;
    margin: 2%;
}
a 
{
    color: black;
}
#carouselExampleControls 
{
    max-width: 500px; /* ajusta el ancho máximo según sea necesario */
    margin: auto; /* centrar horizontalmente */
}
