.relleno 
{
    height: 100px;  
}
.section1
{
    background-image: url("../assets/img/inicio.jpeg");
    height: 50vh;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include propiedades-grid(1,3);
}
.texto-encima
{
    @include texto-encima(1,1,0,6rem,white,center);
}
.carousel-item img
{
    width:70%;
    height: 10%;
    border-radius: 15px;
    margin: 2%;
}
a 
{
    color: #002e1a;
}
#carouselExampleControls 
{
    max-width: auto; /* ajusta el ancho máximo según sea necesario */
    margin: auto; /* centrar horizontalmente */
}
body
{
    background-color: #ffdbf2;
}
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburguesa span {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
    width: 25px;
}