.section5
{
    background-image: url("../assets/img/contacto.jpeg");
    height: 50vh;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include propiedades-grid(6,3);
}
.texto-encima-contacto
{
    @include texto-encima(1/2,1,2rem,8rem,white,right);
}
.contacto
{
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 3.5em;
    margin: 15px auto;
}
.maps
{
    width: 1000px;
    height: 450px;    
}