*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#002e1a;
    text-decoration:none;
    font-family: 'Antonio', sans-serif;
}
html
{
    font-size: 62.5%;
    /*Ahora 1rem=10px*/
}

a:hover {
    color: black; /* Cambia #ff0000 al color que desees */
}